*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
   position: fixed;
   width: 100%;
   top:0;
    padding: 15px 50px;
    display: flex;
    justify-content: space-between;
    height: 90px;
    background-color: rgb(161, 218, 249);
}

 .home{
    color: white;
    font-size: 40px;
    cursor: pointer;
 }

 .icon{
    color: white;
    font-size: 35px;
    margin-top: 10px;cursor: pointer;
 }

  div span{
    position: absolute;
    color: white;
    background-color: red;
    width: 15px;
    border-radius: 5px;
    text-align: center;
    margin-top: 10px;
  }